<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF 2 CSV Uploader</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div id="loading-overlay">
      <div class="loading-box">
        <div class="spinner"></div>
        <p>Processing your Files</p>
        <p class="loading-sub">This may take up to 30 seconds</p>
      </div>
    </div>
    <div class="container">
      <header>
        <h1>Bank PDF to Spreadsheet</h1>
        <p>Your bank statement data in a spreadsheet format (CSV)</p>
      </header>

      <main>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
      </main>

      <footer>
        <p>Antonio Arce &copy; 2025</p>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
